<li class="comid-set">
  <h2>组件唯一ID设置</h2>
  <div class="field-group">
    <span class="field-group-label">组件ID:</span>
    <span class="field-group-content">
              <label><input type="text" name="compid" value="" class="small setdom"></label>
            </span>
  </div>
</li>
<li>
  <form action="" class="dataform" data-scope="ext">
    <h2>参数设置</h2>
    {{#each this}}
      <div class="field-group" data-description="{{description}}" data-name="{{name}}">
        <span class="field-group-label">{{label}}:</span>
        <span class="field-group-content">
                  {{#equals this.type 'text'}}
                    <label><input type="text" name="{{name}}" value="{{defaultValue}}" class="small setdom"></label>
                  {{/equals}}
          {{#equals this.type 'radio'}}
            {{#each this.options}}
              <label><input class="setdom" type="radio" name="{{../name}}" value="{{@key}}" {{#equals @key ../defaultValue}}checked{{/equals}}>{{this}}</label>
            {{/each}}
          {{/equals}}
          {{#equals this.type 'addBox'}}
            <label><input type="text" name="{{name}}" value="{{defaultValue}}" class="small setdom compset-addBox" data-connect="{{json this.connect}}"></label>
                    <div class="compset-addBox-content">
                    </div>
          {{/equals}}
                </span>
      </div>
    {{/each}}
  </form>
</li>
